.lesson-main aside {
  flex: 1;
}

.lesson-main aside section {
  padding: 1ex 1em;
  margin: 0 1em 3ex;
  background: whitesmoke;
}

textarea {
  width: 100%;
  margin: 1ex 0;
  height: 12ex;
  padding: 0.5em;
}

button { width: 100%; }

.lesson-main aside h4 {
  margin: 1ex 0;
}

.lesson-content {
  flex: 2
}

.lesson-main {
  display: flex;
}

.lesson-media{
  font-size: 80%;
}

.lesson-media a:link, .lesson-media a:visited {
  background: none; 
  color: inherit;
  display: block;
  color: slategray;
}

.lesson-media .link-title {
  text-decoration: underline;
  color: darkslategray;
}

ul {
  margin: 2ex 0;
}

ul li {
  list-style-type: none;
  list-style-position: inside;
}